:root {
    --background-color: #FFFFFF;
    --primary-color: #E66A53;
  }

  *{
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    height: 100%;
  }

  .literal-link::after {
    content: attr(href)
  }

  .sequence {
    /* margin: 0; */
    height: 100%;
    width: 90vw;
    /* background-color: rgba(0, 0, 0, 0.08); */
    /* display: flex; */
  }

  .steps {
    /* width: 500px; */
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    padding: 24px 0;
    position: relative;
    margin: auto;
  }

  /* .steps::before {
    content: '';
    position: absolute;
    top: 0;
    height: 24px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    left: calc(50px / 2);
    z-index: 1;
  } */

  .steps::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--primary-color);
    border-radius: 15px;
    left: calc(50px / 2);
    bottom: 24px;
    transform: translateX(-45%);
    z-index: 2;
  }

  .step {
    padding: 0 20px 24px 50px;
    position: relative;
    transition: all 0.4s ease-in-out;
    background-color: #FFF;
  }

  .step::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: rgb(198, 198, 198);
    border-radius: 15px;
    left: calc(50px / 2);
    transform: translateX(-45%);
    z-index: 2;
  }

  .step::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(198, 198, 198);
    left: calc(50px / 2);
    top: 0;
    z-index: 1;
  }

  .step.minimized {
    background-color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }

  .step-header {
    user-select: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }

  .subheader {
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }

  .step-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
    padding: 1em;
    padding-top: 0;
  }

  .step.minimized > .step-content {
    height: 0px;
    padding: 0;
  }

  /* .step-content.one {
    height: 460px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
  }

  .step-content.two {
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
  }

  .step-content.three {
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 10px;
  } */

  .next-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: red;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  .close-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(255, 0, 255);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  /* Irrelevant styling things */
  .close-btn:hover {
    background-color: rgba(255, 0, 255, 0.6);
  }

  .close-btn:focus {
    outline: 0;
  }

  .next-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
  }

  .next-btn:focus {
    outline: 0;
  }

  .step.minimized:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
